# Same operational cluster as echo_chamber (auth 1 = twitter_temp_data)
ES_ENABLED=true
ELASTIC_AUTH=1
ES_HOSTS=https://elastic.synappse.ir
ES_INDEX=twitter_temp_data
ES_API_KEY=
ES_USER=
ES_PASSWORD=
ES_VERIFY_CERTS=true
ES_START_DATE=
ES_END_DATE=
ES_MAX_POSTS_PER_USER=40
ES_REFERENCE_TYPES=post,tweet,original

# Field mapping of twitter_temp_data
ES_FIELD_USER_ID=user_name
ES_FIELD_TEXT=normalized_text
ES_FIELD_TIMESTAMP=date
ES_FIELD_POST_ID=post_id
ES_FIELD_PLATFORM=platform

MODEL_DIR=
FALLBACK_MODEL=persiannlp/parsbert-base-parsinlu-entailment
